<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>90887373995-ro93ctgqj722k5tl0shik6l6d0b6sqha.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.90887373995-ro93ctgqj722k5tl0shik6l6d0b6sqha</string>
	<key>API_KEY</key>
	<string>AIzaSyAe_6O9LyxHilNM5O2IsjyJBm5hs09p0Sc</string>
	<key>GCM_SENDER_ID</key>
	<string>90887373995</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.vegana.vegana</string>
	<key>PROJECT_ID</key>
	<string>vegana-vegana</string>
	<key>STORAGE_BUCKET</key>
	<string>vegana-vegana.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:90887373995:ios:54cd0ab8831075d43f23ee</string>
	<key>DATABASE_URL</key>
	<string>https://vegana-vegana-default-rtdb.firebaseio.com</string>
</dict>
</plist>
